* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-fluid{
    background: rgb(255, 255, 255);
  }
  
  .searchbar{
    justify-content: flex-end;
  }
  .main_container{
    padding-top: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQed_X8nNKDtK_KAHIEFoGuBi2CZfe_3nrMnhugeiHrsA&usqp=CAU&ec=48665701");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  .container2{
    display:flex;
    justify-content: space-around;
    margin-bottom:50px;
    font-size:120%;
    font-family: 'Open Sans', sans-serif;
  }

  .card1{
    margin: 1em;
    background: #000000d0;
    color:white;
    padding:2em;
    border-radius: 30px;
  }

  .grid{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .card{
    background: #ffffd0;
    width:100%;
    border-radius: 0%;
  }
  